.search_bar {
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-origin: content-box;
  background-position: right;
  background-size: contain;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e8/Google_mic.svg);
  background-repeat: no-repeat;
  width: 494px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

a:hover {
  color: #080808;
  opacity: 0.85;
  text-decoration: underline;
}

ul {
  font-size: 15px;
}

li {
  display: inline;
  padding-right: 20px;
}

.top_bar {
  text-align: right;
}

.search_bar_container {
  padding-top: 10px;
}

input#search {
  color: black;
}

input {
  padding-left: 10px;
  font-size: 16px;
  /*height: 30px;*/
  border-width: thin;
  color: rgba(0, 0, 0, 0.42);
  border-radius: 2px;
  border-color: #d3d3d3ad;
  border-style: solid;
  box-shadow: 0px 1px 1px 0px #69696959;
}

.image img {
  padding-top: 150px;
  height: 112px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gmail {
  color: black;
}

.images {
  color: black;
}

.google_apps {
  height: 30px;
}

.google_notifications {
  height: 30px;
}

.google_account {
  height: 30px;
}
